Repository galacean/galacean.github.io, pull requests merged in 2021-11, with the labels that each got.

#314 docs: add blender-baker doc
  docs/artist-animation-clip.zh-CN.md
  docs/artist-bake-blender.zh-CN.md
  docs/artist-bake.zh-CN.md
  docs/artist-unlit.zh-CN.md
  docs/editor-art.zh-CN.md
  docs/instructions-for-designers-on-lottie.zh-CN.md
Labels: documentation

#293 [Scene] video background
  playground/video-background.ts
Labels: playground

#304 add physx playground
  playground/collision-detection.ts
  playground/physx-collision-detection.ts
  playground/physx-raycast.ts
  playground/raycast.ts
Labels: playground

#303 add physics-lite playground
  playground/lite-collision-detection.ts
  playground/lite-raycast.ts
Labels: playground

#312 fix: glitch shader precision
  playground/sprite-material-glitch-rgbSplit.ts
Labels: bug

#321 [Playground]: ibl baker
  package.json
  playground/ibl-baker.ts
Labels: playground

#318 Feat/animator doc
  docs/animator.md
  docs/animator.zh-CN.md
  playground/animation-stateMachineScript.ts
Labels: documentation

#324 [Doc]: new pbr workflow
  docs/editor-environment.md
  docs/light.md
  docs/light.zh-CN.md
  docs/material.zh-CN.md
  docs/resource-manager.md
  docs/resource-manager.zh-CN.md
  docs/texture.zh-CN.md
Labels: documentation

#315 docs: export gltf to engine from blender and so on
  docs/artist-export-engine.zh-CN.md
Labels: documentation

#320 Playground/0.6 adapter
  playground/ambient-light.ts
  playground/filter-mode.ts
  playground/gltf-loader.ts
  playground/light-type.ts
  playground/model-mesh.ts
  playground/pbr-base.ts
  playground/pbr-helmet.ts
  playground/probe-reflection.ts
  playground/texture-aniso.ts
  playground/texture-mipmap.ts
  playground/tiling-offset.ts
  playground/wrap-mode.ts
  src/components/home/PBRHelmet.tsx
Labels: playground

#327 fix: additive demo
  playground/skeleton-animation-additive.ts
Labels: playground
