Repository galacean/galacean.github.io, pull requests merged in 2022-10, with the labels that each got.

#448 cascade shadow map playground
  docs/shadow.md
  docs/shadow.zh-CN.md
  playground/cascade-shadow.ts
  playground/controls-free.ts
  playground/lines.ts
  playground/lite-collision-detection.ts
  playground/lite-raycast.ts
  playground/ortho-control.ts
  playground/outline-postprocess.ts
  playground/physics-debug-draw.ts
  playground/physx-attractor.ts
  playground/physx-collision-detection.ts
  playground/physx-compound.ts
  playground/physx-controller.ts
  playground/physx-joint-basic.ts
  playground/physx-raycast.ts
  playground/physx-select.ts
  playground/shadow-basic.ts
  playground/shadow.ts
  playground/transparent-shadow.ts
Labels: enhancement, playground

#453 Update planar shadow example
  playground/.dev/vite.config.js
  playground/planar-shadow.ts
  playground/sprite-material-glitch-rgbSplit.ts
Labels: playground

#480 Fix: multi pointer adapter.
  playground/gizmo.ts
Labels: bug

#485 add new toolkit playground
  docs/physics-manager.md
  docs/physics-manager.zh-CN.md
  playground/geometry-sketch.ts
  playground/infinity-grid.ts
Labels: enhancement, playground

#487 Add custom animationClip demo and opt animation demo
  playground/animation-customAnimationClip.ts
  playground/animation-event.ts
  playground/animation-stateMachineScript.ts
  playground/skeleton-animation-additive.ts
  playground/skeleton-animation-crossfade.ts
  playground/skeleton-animation-play.ts
Labels: playground
