Repository galacean/galacean.github.io, pull requests merged in 2022-07, with the labels that each got.

#412 Adapt TextRenderer for text ktv subtitle
  playground/text-ktv-subtitle.ts
Labels: playground

#413 Adapt text ktv subtitle for text renderer
  playground/text-ktv-subtitle.ts
Labels: playground

#414 Adapt `TextRenderer` to delete invalid property useCharCache
  playground/text-ktv-subtitle.ts
Labels: playground

#415 Playground: Outline
  docs/framebuffer-picker.md
  docs/framebuffer-picker.zh-CN.md
  playground/blinn-phong.ts
  playground/framebuffer-picker.ts
  playground/outline-multi-pass.ts
  playground/outline-postprocess.ts
Labels: playground

#411 Playground: skeleton helper
  playground/skeleton-viewer.ts
Labels: playground

#416 Add text barrage
  playground/text-barrage.ts
Labels: playground

#417 feat: planar shadow
  playground/planar-shadow.ts
Labels: enhancement, playground

#427 Playground: add sprite slice.
  playground/sprite-slice.ts
Labels: playground

#419 doc: refactor engine and install doc
  docs/engine.md
  docs/engine.zh-CN.md
  docs/install.md
  docs/install.zh-CN.md
Labels: documentation

#418 Add font style for text renderer doc
  docs/text-renderer.md
  docs/text-renderer.zh-CN.md
Labels: documentation

#432 Doc: Sprite & SpriteRenderer
  docs/input.md
  docs/input.zh-CN.md
  docs/sprite-renderer.md
  docs/sprite-renderer.zh-CN.md
  docs/sprite.md
  docs/sprite.zh-CN.md
Labels: documentation

#425 Feat/animator
  docs/animator.md
  docs/animator.zh-CN.md
Labels: documentation

#423 Playground:fix sprite bug
  playground/flappy-bird.ts
  playground/sprite-atlas.ts
  playground/sprite-sheetAnimation.ts
Labels: bug, playground

#430 Doc:update camera doc
  docs/camera.md
  docs/camera.zh-CN.md
Labels: documentation
