Repository galacean/galacean.github.io, pull requests merged in 2022-04, with the labels that each got.

#366 Refactor: use script in outline
  playground/outline.ts
Labels: playground

#367 fix: remapping url when image is in url
  src/pages/gltf-viewer.tsx
Labels: bug

#371 docs: fix wrong attribute in particle
  docs/particle-renderer.md
  docs/particle-renderer.zh-CN.md
Labels: bug, documentation

#375 feat: add user name change
  docs/artist-bake-blender.zh-CN.md
Labels: documentation

#372 refactor: use new env from new baker
  playground/ambient-light.ts
  playground/gltf-loader.ts
  playground/ibl-baker.ts
  playground/outline.ts
  playground/pbr-base.ts
  playground/screenshot.ts
  src/components/home/PBRHelmet.tsx
  src/pages/gltf-viewer.tsx
Labels: playground

#344 feat: physics playground and docs
  docs/collider.md
  docs/collider.zh-CN.md
  docs/physics-collider.md
  docs/physics-collider.zh-CN.md
  docs/physics-manager.md
  docs/physics-manager.zh-CN.md
  docs/physics-overall.md
  docs/physics-overall.zh-CN.md
  docs/ray.md
  docs/ray.zh-CN.md
  docs/script.md
  docs/script.zh-CN.md
  playground/input-pointer.ts
  playground/lite-collision-detection.ts
  playground/lite-raycast.ts
  playground/physx-attractor.ts
  playground/physx-collision-detection.ts
  playground/physx-compound.ts
  playground/physx-raycast.ts
  playground/physx-select.ts
  src/components/Content/MainContent.tsx
Labels: documentation, playground

#373 feat: add clearcoat demo
  playground/pbr-clearcoat.ts
Labels: playground

#364 feat: add text demo
  playground/text-ktv-subtitle.ts
  playground/text-renderer.ts
  playground/text-wrap-alignment.ts
Labels: playground

#384 docs: add clear coat in material doc
  docs/material.md
  docs/material.zh-CN.md
Labels: documentation

#387 feat: add playground for hdr loader
  playground/hdr-loader.ts
Labels: playground

#382 opt(text): opt text
  playground/text-renderer.ts
Labels: playground

#363 Playground: drawLines
  playground/draw-lines.ts
Labels: playground

#379 Playground: glTF click.
  playground/input-glTF.ts
  playground/input-glTFMerge.ts
Labels: playground

#380 Doc:update keyboard
  docs/input-keyboard.md
  docs/input-keyboard.zh-CN.md
  playground/flappy-bird.ts
Labels: documentation

#390 Doc:update keyboard'type
  docs/engine.zh-CN.md
  docs/input-keyboard.md
  docs/input-keyboard.zh-CN.md
Labels: documentation

#392 opt: opt bg for text ktv subtitle
  playground/text-ktv-subtitle.ts
Labels: playground

#393 Feat/animator
  docs/animator.md
  docs/animator.zh-CN.md
  playground/animation-cross-fade.ts
  playground/animation-event.ts
  playground/skeleton-animation-additive.ts
  playground/skeleton-animation-crossfade.ts
  playground/skeleton-animation-play.ts
  playground/skeleton-animation.ts
Labels: documentation, playground

#395 Doc: update glTF.
  docs/gltf.md
  docs/gltf.zh-CN.md
  docs/resource-manager.md
  docs/resource-manager.zh-CN.md
  docs/transform.md
  docs/transform.zh-CN.md
  src/components/Content/MainContent.tsx
Labels: documentation
