Repository galacean/galacean.github.io, pull requests merged in 2023-04, with the labels that each got.

#688 Add playground about bounging box
  playground/bounding-box.ts
Labels: playground

#684 Update playground about `SpriteRenderer.drawMode`
  docs/sprite-renderer.md
  docs/sprite-renderer.zh-CN.md
  docs/sprite.md
  docs/sprite.zh-CN.md
  playground/sprite-drawMode.ts
  playground/sprite-slice.ts
Labels: playground

#692 Add device restore example
  playground/device-restore.ts
  playground/sprite-drawMode.ts
Labels: playground

#678 Add editor atlas documentation
  docs/editor-2d-spriteAtlas.zh-CN.md
Labels: documentation, Editor

#695 Unified shader property and macro name style
  docs/ambient-light.md
  docs/ambient-light.zh-CN.md
  docs/custom-material.md
  docs/custom-material.zh-CN.md
  docs/gltf.md
  docs/gltf.zh-CN.md
  docs/resource-manager.md
  docs/resource-manager.zh-CN.md
  docs/scene.md
  docs/scene.zh-CN.md
  package.json
  playground/ambient-light.ts
  playground/background.ts
  playground/buffer-mesh-instance.ts
  playground/buffer-mesh-particle-shader-effect.ts
  playground/cascade-shadow.ts
  playground/geometry-sketch.ts
  playground/gltf-loader.ts
  playground/hdr-loader.ts
  playground/ibl-baker.ts
  playground/model-mesh.ts
  playground/mrt.ts
  playground/multi-camera.ts
  playground/multi-viewport.ts
  playground/outline-multi-pass.ts
  playground/pbr-base.ts
  playground/pbr-clearcoat.ts
  playground/pbr-helmet.ts
  playground/physx-controller.ts
  playground/render-target.ts
  playground/shader-replacement.ts
  playground/shader-water.ts
  playground/sprite-material-blur.ts
  playground/sprite-material-dissolve.ts
  playground/sprite-material-glitch-rgbSplit.ts
  playground/text-ktv-subtitle.ts
  playground/transparent-shadow.ts
  playground/video-background.ts
  src/components/GltfViewer/gltf-viewer.tsx
Labels: documentation, playground

#711 refactor: opt code
  docs/custom-material.md
  docs/custom-material.zh-CN.md
  playground/shader-water.ts
  playground/sprite-material-glitch-rgbSplit.ts
Labels: playground

#714 安装文档中添加引擎升级内容
  docs/install.md
  docs/install.zh-CN.md
Labels: documentation

#715 Update the size related content in the sprite renderer documentation
  docs/sprite-renderer.md
  docs/sprite-renderer.zh-CN.md
  playground/sprite-size.ts
Labels: documentation

#708 fix(docs): material
  docs/custom-material.zh-CN.md
Labels: documentation

#720 fix: mobile menu url
  src/components/header/components/NavigationMenuMobile.tsx
Labels: bug

#723 Fix flappy bird error
  playground/flappy-bird.ts
Labels: playground

#724 Fix playground control bug
  playground/controls-free.ts
  playground/ortho-control.ts
Labels: bug
